<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Plano</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	</script>
</head>
<body>
	<div class="w3-container">
		<h1 style="display: block; margin-left: auto; margin-inline: auto; width: 50%; height: auto;">Vista del Plano</h1>
	</div>
	<div class="center">
				<img src="{{ plano.Subir_Plano.url }}" class="img-responsive" style="display: block; margin-left: auto; margin-right: auto; width: 50%; height: auto;" />
	</div>
    <div class="top">
		<a href="{% url 'start' %}" class="btn btn-primary" role="button">Volver</a>
	</div>

</body>
</html>