<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido a SimulIoT</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	</script>
</head>
<body>
    <h1 style="font-weight: bolder; margin-left: 10px;">Bienvenido a SimulIot</h1>
    {% load static %}
    <img src="{% static 'starthere/img/simuliot.png' %}" alt="SimulIoT" class="center" style="display: block; width: 100px; height: 100px; margin-left: 150px;">
    <p style="margin-left: 10px;">Esta es la página principal de SimulIoT. Seleccione una de las opciones a continuación para continuar.</p>
    <p style="margin-left: 10px;">Si desea subir un plano y comenzar a colocar dispositivos, seleccione la opción <span style="font-weight:bold;">"Empezar de cero".</span></p>
    <p style="margin-left: 10px;">Si desea ver el plano que subió anteriormente, seleccione la opción <span style="font-weight:bold;">"Ver plano anterior".</span></p>
    <div class="buttons" style="display: inline-block; margin-right: 20px; margin-top: 10px;">
		<a href="{% url 'upload_plano' %}" class="btn btn-primary" role="button" style="margin-left: 50px;">Empezar de cero</a>
        <a href="{% url 'display_plano' %}" class="btn btn-primary" role="button" style="margin-left: 50px;">Ver plano anterior</a>
    </div>
</body>
</html>
