<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Main Page SimulIoT</title>
	<div class = "w3-container" style="position: absolute; top: 0%; left: 16px;">
		<h1 class="center" style="display: block; margin-left: auto; width: 50%; height: auto; font-weight: bolder;">SimulIoT</h1>
	</div>
	{% load static %}
	<div class = "w3-container" style=" position: absolute; top: 70px; left: 80px;">
		<img src="{% static 'starthere/img/simuliot.png' %}" alt="SimulIoT" class="center" style="display: block; width: 100px; height: 100px; margin-left: 30px;">
	</div>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	</script>
</head>

<body>
	<div class = "w3-container" style="position: relative; top: 200px; left: 50px;">
		<form method = "post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-primary">Subir Plano</button>
			<a href="{% url 'start' %}" class="btn btn-primary" role="button">Volver</a>
		</form>
	</div>
</body>
</html>